.youtube {
  width: 980px;
  height: 400px;
}
.cardone {
  text-align: center;
  background-color: rgba(4, 1, 1, 0.4);
  color: white;
  display: inline-block;
  position: sticky;
  margin-left: 15%;
}
.carosel-container {
  margin-left: 25%;
  padding-top: 1%;
}
.item-name {
  color: white;
}

.arrow-icons {
  font-size: 40px;
}
.arrow-icons:hover {
  color: #b5fa99;
  cursor: pointer;
}
.addbtn {
  font-size: 30px;
  padding-top: 3%;
  padding-right: 80%;
}
.addbtn:hover {
  color: #df5f49;
  cursor: pointer;
}
.row {
  text-align: center !important ;
}
h5 {
  text-align: center;
  color: white;
  padding-top: 4%;
  /* margin: 5px 20px 5px 20px !important; */
}

.p {
  text-align: center !important;
  align-content: center;
  margin: auto;
  display: block;
  color: white;
  font-size: 1.1rem;
  width: 70%;
}
.parent {
  background-image: url("http://digitalimagemakerworld.com/images/peach-wallpaper/37756779-peach-wallpaper.jpg");
}
